#PortfolioPage{
  text-align: center;
  min-height:100vh;
}

#PortfolioTitle{
  padding-top:3%;
  font-family: 'Montserrat', sans-serif;
}

/* text rotate effect */
.textRotate span {
  display: inline-block;
  transition: 0.8s;
}

.textRotate:hover span:nth-child(odd) {
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 370deg );
  cursor: pointer;
}

.textRotate:hover span:nth-child(even) {
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( -370deg );
  cursor: pointer;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

#content-grid {
    margin: 0 auto;
    width: calc(100% - 5rem);
}

.portfolioItem{
  margin:1rem;
}

#PortfolioItemsRow{
  margin-top:5%;
  margin-bottom:5%;
}
